.community{
   
    display: flex;
    /* position:fixed; */
   
}

.communityContainer{
    
    flex:6;
    background-color: #F6F4EB;
}

/* Fix the Navbar and Sidebar */
Navbar {
    /* Add your styles for Navbar here */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px; /* Adjust the width as needed */
    height: 100%;
    background-color: #333; /* Example background color */
  }
  
  Sidebar {
    /* Add your styles for Sidebar here */
    position: fixed;
    top: 0;
    left: 200px; /* Adjust the left position to match the Navbar width */
    width: 200px; /* Adjust the width as needed */
    height: 100%;
    background-color: #555; /* Example background color */
  }
  

.com_post{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}