.community {
  display: flex;
}

.side {
  width: 200px; /* Adjust the width as needed */
  background-color: #555; /* Example background color for the Sidebar */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.communityContainer {
  flex: 6;
  background-color: #F6F4EB;
  overflow-y: auto; /* Enable vertical scrolling for the communityContainer */
  margin-left: 200px; /* Adjust the margin to make space for the fixed Sidebar */
  padding: 20px; /* Optional padding for content inside communityContainer */
}

/* Fix the Navbar */
.Navbar {
  /* Add your styles for Navbar here */
}

.com_post {
  overflow-y: auto; /* Enable vertical scrolling for the .com_post container */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

.communityContainer::-webkit-scrollbar {
  width: 12px;
}

.communityContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.communityContainer::-webkit-scrollbar-track {
  background-color: transparent;
}
