*{
    font-family: poppins;
}

.container{
 padding: 3%; 
 box-sizing: border-box;  
 border: 2px solid #F6F4EB;
 width: 100%;
 border-radius: 30px;
 margin: 20px;
 margin-right: 40px;
 margin-left: 0;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 height: 495px;
 

}

.container Button{
    text-align: center;
    margin-top: 20px;
    justify-content: space-between;
}