.navbar {
  height: 50px;
  width:100%;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  top: 0;
  background-color: #F6F4EB;
  position: relative;  
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  height: fit-content;
  border-left:none;
}

.search {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  border-radius: 15px;
  padding: 3px;
  margin: 10px;
}

 .search input {
    border: none;
    outline: none;
    background: transparent;

    &::placeholder {
      font-size: 12px;
    }
  }


.items {
  display: flex;
  align-items: right;
  float: left;

  
}

.item {
  display: flex;
  align-items: right;
  float: left;
  margin: 10px;
  position: relative; 
}

.icon {
  font-size: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.counter {
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 5px; */
  position: absolute;
  top: -5px;
  right: -5px;
  
}

.counter p{
  font-size: 10px;
  color: white;
  margin-top: 15px;
  align-items: center;
  font-weight: bold;
}